* {
    margin: 0;
    padding: 0;
}

.__box_popup {
    display: flex;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    margin: auto;
    width: 84rem;
    height: 34.3rem;
    border: 1px solid black;
    background: #FFFFFF;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.hidden{
    display: none;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
}

.logo-header-mobi,
.box-footer-mobi,
.last-footer-mobi,
.momo-mobi,.img-header-mobi{
    display: none;
}

html {
    font-size: 62.5%;

}

body {
    box-sizing: border-box;
}

.logo-header>img {
    display: block;
    margin: 0 auto;
    padding: 3rem 0;
}

    /* .title-header {
        background: linear-gradient(91.31deg, #007FC7 10.09%, #5DBBFF 101.31%);
    } */
.img-header img{
    width: 100%;
}
.title-header h2 {
    text-align: center;
    font-weight: 700;
    font-size: 2.4rem;
    color: #FFFFFF;
    padding: 4rem 0;
    margin-top: -12rem;
}

.payment-methods {
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
    border-radius: 20px;
    max-height: 60.3rem;
}

.payment-methods_main {
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
    border-radius: 20px;
}

.invoice {
    background-image: url("/assets/payment/img/bg_aside1.png"), url("/assets/payment/img/bg_aside2.png");
    background-position: top right;
    background-repeat: no-repeat;
    border-radius: 20px;
    box-shadow: 0px 2px 10px rgb(0 82 166 / 23%);
}

.title-choose-payment h2 {
    font-style: normal;
    font-weight: bolder;
    font-size: 1.8rem;
    line-height: 140%;
    color: #333333;
    padding: 3rem 0 1.5rem 4.5rem;
}

.img-discount img {
    position: relative;
    margin: -1.5rem 0 0 2rem;
}

.img-discount p {
    position: relative;
    left: 10.6rem;
    top: -5.319rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    color: #FFFFFF;
}

.list-payment-methods img {
    display: block;
    margin: 0 auto;
}

.title-content-billing h2 {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.6rem;
    color: #333333;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.img-invoice img {
    margin-top: -61.5rem;
    position: relative;
    z-index: -1;
}

.content-billing {

}

.footer {
    background: #F7FCFF;
    position: relative;
    top: 10rem;
}

.title-info {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 20px;
}

.title-info span {
    position: relative;
    top: 2.5px;
    left: 6px;

}

.info-buyer,
.info-order,
.info-pay {
    font-size: 1.4rem;
    padding: 1.5rem 0 0 0.2rem;
}

.info-order ul {
    list-style: none;
}

.info-order li {
    font-weight: 500;
}

.info-order ul p {
    font-size: 1.2rem !important;
}

.payment,
.discount {
    padding: 1rem 0;
}

.last-price {
    font-size: 1.8rem;
    padding: 1.5rem 0 0 0.2rem;
    font-weight: 700;
}

.logo-footer {
    display: flex;
}

.logo-right {
    margin-left: 3rem;
}

.logo-right {
    margin-top: 0.7rem;
}

.footer-right {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}

.last-footer {
    background: #0474BC;
    width: 100%;
}

.__box-last-footer,
.box-footer {
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
}

.box-footer {
    padding: 3rem 0;
}

.support-customer {
    margin-left: 10rem;
}

.content-support,
.content-partners,
.content-address {
    font-size: 1.2rem;
    margin-top: 1.5rem;
}

.__box-last-footer div {
    color: white;
    font-size: 1.2rem;
}

.last-footer-left p {
    padding: 2rem 12rem 1rem 0rem;
}

.last-footer-right p {
    padding: 3rem 0rem 1rem 10rem;
}

.__list-payment-methods hr {
    /*max-width: 88%;*/
    /*margin: 1rem 0 3rem 3em;*/
}

.bank img {
    padding-bottom: 2rem;
    width: 100%;
}

.title-popup>h2 {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 36px;
    color: #333333;
}

.content_popup {
    margin-top: 1rem;
    padding-bottom: 2rem;
    margin-left: 6rem;
}

.content_popup ul {
    list-style: none;
    margin-top: 3rem;
}

.__content_popup li {
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 3rem;
    color: #000000;
}

.name_company {
    font-size: 1.8rem;
    font-weight: 700;
}

.img_bank img {
    display: block;
    margin: 6rem auto 0;
}

.close_popup :hover {
    cursor: pointer;
}

.close_popup {
    position: absolute;
    right: 2rem;
}

.button_popup {
    display: flex;
    justify-content: center;
}

.button_popup p {
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 21px;
}

.continue,
.come_back {
    width: 25rem;
    border: 1px solid;
    border-radius: 38px;
    color: #1D96EE;
}

.continue {
    padding: 1.5rem 0 1.5rem 9rem;
}

.come_back {
    padding: 1.5rem 0 1.5rem 9.5rem;
    margin-left: 2rem;
}

.continue:hover,
.come_back:hover {
    cursor: pointer;
    color: #FFFFFF;
    background: #1D96EE;
}

@media only screen and (max-width: 429px) {

    .logo-header,
    .logo-left,
    .__box-last-footer,
    .momo,.img-header {
        display: none;
    }

    .logo-header-mobi,
    .momo-mobi,
    .box-footer-mobi,
    .last-footer-mobi,.img-header-mobi{
        display: block;
    }
    .img-header-mobi img{
        width: 100%;
    }
    .logo-header-mobi img {
        display: block;
        margin: 0 auto;
        padding: 2rem 0;
    }

    .container_main {
        margin: 6rem auto 0;
        max-width: 343px;
        box-sizing: border-box;
    }

    .main {
        display: block;
    }

    .title-header {

        padding: 0 0.1rem;
    }

    .img-discount img {
        width: 97%;
        margin: 0;
    }

    .img-discount p {
        left: 7.6rem;
        top: -4.319rem;
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        color: #FFFFFF;
    }

    .payment-methods {
        border: 0;
    }

    .list-payment-methods {
        box-shadow: 0px 2px 10px rgba(0, 82, 166, 0.23);
        border-radius: 20px;
    }

    .title-choose-payment h2 {
        padding: 0;
    }

    .img-invoice img {
        max-width: 37.3rem;
        margin-left: -1.5rem;
        height: 66.4rem;
    }

    .content-billing {
        max-width: 34.3rem;
        left: 0rem;
        z-index: 1;
        margin-top: 15rem;
    }

    .box-footer {
        display: none;
    }

    .last-footer-mobi {
        background: #0474BC;
        width: 100%;
        color: #FFFFFF;
    }

    .img_bank {
        display: none;
    }

    .bank img {
        max-width: 10rem;
    }

    .payment-methods_main {
        border: none;
    }

    .__list-payment-methods {
        box-shadow: 0px 2px 10px rgba(0, 82, 166, 0.23);
        border-radius: 20px;
    }

    .title-popup > h2 {
        font-size: 1.4rem;
    }

    .name_company {
        font-size: 1.4rem;
    }

    .popup {
        width: 34.3rem;
        left: 43%;
        margin-left: 1.3rem;
    }

    .__content_popup li {
        font-size: 1.4rem;
    }

    .button_popup p {
        font-style: normal;
        font-weight: 700;
        font-size: 1.2rem;
        line-height: 21px;
    }

    .continue,
    .come_back {
        width: 14.7rem;
        border: 1px solid;
        border-radius: 38px;
        color: #1D96EE;
    }
    .title-header h2 {
        text-align: center;
        font-weight: 700;
        font-size: 2.4rem;
        color: #FFFFFF;
        padding: 4rem 0;
        margin-top: -8.5rem;
    }
    .close_popup {
        right: 1rem;
      }
      .content_popup {
        margin-left: 0rem;
      }
      .come_back,.continue {
        padding: 1.5rem 0 1.5rem 5rem;
      }
      .continue:hover,
.come_back:hover {
    cursor: pointer;
    color: #FFFFFF;
    background: #1D96EE;
}
}
@media only screen and (max-width: 376px){
    .popup {
        width: 34.3rem;
        left: 40% !important;
        margin-left: 1.3rem;
    }
}
/* @media only screen and (min-width:) (max-width: 376px){
    .popup {
        width: 34.3rem;
        left: 40% !important;
        margin-left: 1.3rem;
      }
} */

.modal .btn-close {
    border: 2px solid #38a2ef;
    border-radius: 50%;
    color: #38a2ef;
    background: none;
}

img {
    max-width: 100%;
}

#modalBankTransfer .info > * {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    margin-left: 10px;
}

#modalBankTransfer .info .bank_owner {
    margin-top: 10px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

#modalBankTransfer .modal-footer button {
    background: #1D96EE;
    border-radius: 40px;
    padding: 13px 50px;
    border-color: transparent;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    width: 100%;
    max-width: 250px;
    color: #FFFFFF;
}

#modalBankTransfer .modal-footer button.btn-cancel {
    background: #ffffff;
    border-color: #1D96EE;
    color: #1D96EE;
}

#modalBankTransfer .alert {
    border-radius: 10px;
}

#link-cancel-order {
    float: right;
    right: 10px;
    text-decoration: none;
    top: 15px;
    font-size: 1.6rem;
    font-weight: 450;
    cursor: pointer
}
#link-cancel-order:hover {
    color: #1D96EE;
}
.swal-wide{
    width:500px !important;
    font-size: 50px;
}
.swal2-popup {
    font-size: 1.5rem !important;
    font-family: Georgia, serif;
}
